<mat-toolbar color="accent" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button><mat-icon>home</mat-icon></button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">

        <div>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Select Role</mat-label>
                <mat-select [value]="selectedRole" (selectionChange)="onRoleChange($event)">
                    <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-nav-list>
            <mat-list-item *ngFor="let route of accessibleRoutes" [routerLink]="route.path">
                <button mat-button>
                    <mat-icon>{{ route.icon }}</mat-icon> {{ route.label }}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: left; min-height: 100dvh; padding: 1rem;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>