<mat-toolbar color="accent" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button><mat-icon>home</mat-icon></button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item routerLink="">
                <button mat-button><mat-icon>home</mat-icon> Home</button>
            </mat-list-item>
            <mat-list-item routerLink="user">
                <button mat-button><mat-icon>supervised_user_circle</mat-icon> Users</button>
            </mat-list-item>
            <mat-list-item routerLink="report">
                <button mat-button><mat-icon>table</mat-icon> Reports</button>
            </mat-list-item>
            <mat-list-item routerLink="project">
                <button mat-button><mat-icon>perm_media</mat-icon> Projects</button>
            </mat-list-item>
            <mat-list-item routerLink="about">
                <button mat-button><mat-icon>help</mat-icon> About Us</button>
            </mat-list-item>
            <mat-list-item routerLink="contact">
                <button mat-button><mat-icon>call</mat-icon> Contact Us</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: left; min-height: 100dvh; padding: 1rem;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>